# Imports (compatible for Python 2 and Python 3)

In [327]:
try:
    import urllib2 as ulib
except ImportError:
    import urllib3 as ulib

try:
    from StringIO import BytesIO as io
except ImportError:
    from io import BytesIO as io

try:
    from urllib import urlencode as urlencode
except ImportError:
    from urllib.parse import urlencode as urlencode
    
try:
    from urllib import urlopen as urlopen
except ImportError:
    from urllib.request import urlopen as urlopen
    
try:
    from urllib2 import HTTPError as HTTPError
except ImportError:
    from urllib.error import HTTPError as HTTPError

import ast
import pandas as pd

In [328]:
API_URL = 'https://fb55.carto.com:443/api/v2/sql?q='

def queryCartoDB(query, formatting = 'CSV', source = API_URL):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    
    data = urlencode({'format': formatting, 'q': query}).encode("utf-8")
    try:
        response = urlopen(source, data)
        return response.read()
    except HTTPError as e:
        raise (ValueError('\n'.join(ast.literal_eval(e.readline())['error'])))
        
def get_data(query):
    try:
        return pd.read_csv(io(queryCartoDB(query)), sep = ',')
    except ValueError as v:
        print (str(v))

# TASK 1

In [329]:
query = '''SELECT * FROM fb55.citibike WHERE tripduration<=180 order by start_station_id ASC, tripduration DESC '''
table = get_data(query)
print(table.head(10))
print(table.tail(10))

   the_geom        start_station_name  the_geom_webmercator  field_1  \
0       NaN          W 52 St & 11 Ave                   NaN     9059
1       NaN  Franklin St & W Broadway                   NaN    44151
2       NaN    St James Pl & Pearl St                   NaN     1791
3       NaN    St James Pl & Pearl St                   NaN    37931
4       NaN    St James Pl & Pearl St                   NaN    33591
5       NaN    St James Pl & Pearl St                   NaN    40936
6       NaN    St James Pl & Pearl St                   NaN     5810
7       NaN    St James Pl & Pearl St                   NaN    43767
8       NaN    St James Pl & Pearl St                   NaN     3787
9       NaN    St James Pl & Pearl St                   NaN     4787

   start_station_longitude  tripduration               starttime  \
0               -73.993929           107  2015-02-03 10:10:00+00
1               -74.006667           149  2015-02-07 17:27:00+00
2               -74.000165           172  2015-02-01 12:08:00+00
3               -74.000165           166  2015-02-06 18:47:00+00
4               -74.000165           164  2015-02-06 10:56:00+00
5               -74.000165           160  2015-02-07 11:02:00+00
6               -74.000165           151  2015-02-01 19:24:00+00
7               -74.000165           151  2015-02-07 16:49:00+00
8               -74.000165           144  2015-02-01 15:34:00+00
9               -74.000165           143  2015-02-01 17:12:00+00

                 stoptime  start_station_id  cartodb_id  \
0  2015-02-03 10:12:00+00                72        8998
1  2015-02-07 17:29:00+00                79       44145
2  2015-02-01 12:10:00+00                82        1722
3  2015-02-06 18:49:00+00                82       37904
4  2015-02-06 10:59:00+00                82       33557
5  2015-02-07 11:05:00+00                82       40923
6  2015-02-01 19:26:00+00                82        5744
7  2015-02-07 16:52:00+00                82       43759
8  2015-02-01 15:36:00+00                82        3720
9  2015-02-01 17:14:00+00                82        4719

   start_station_latitude  end_station_id          end_station_name  \
0               40.767272              72          W 52 St & 11 Ave
1               40.719116             257   Lispenard St & Broadway
2               40.711174            2009  Catherine St & Monroe St
3               40.711174             296      Division St & Bowery
4               40.711174            2009  Catherine St & Monroe St
5               40.711174            2009  Catherine St & Monroe St
6               40.711174            2009  Catherine St & Monroe St
7               40.711174            2009  Catherine St & Monroe St
8               40.711174            2009  Catherine St & Monroe St
9               40.711174             296      Division St & Bowery

   end_station_latitude  end_station_longitude  bikeid    usertype  \
0             40.767272             -73.993929   19039  Subscriber
1             40.719392             -74.002472   15621  Subscriber
2             40.711174             -73.996826   16918  Subscriber
3             40.714131             -73.997047   16573  Subscriber
4             40.711174             -73.996826   19322  Subscriber
5             40.711174             -73.996826   20941  Subscriber
6             40.711174             -73.996826   18603  Subscriber
7             40.711174             -73.996826   20941  Subscriber
8             40.711174             -73.996826   20906  Subscriber
9             40.714131             -73.997047   18634  Subscriber

   birth_year  gender
0      1980.0       2
1      1973.0       1
2      1970.0       2
3      1989.0       1
4      1986.0       1
5      1986.0       1
6      1962.0       1
7      1986.0       1
8      1984.0       1
9      1989.0       1
      the_geom          start_station_name  the_geom_webmercator  field_1  \
1791       NaN  South End Ave & Liberty St                   NaN    44847
1792       NaN  South End Ave & Liberty St                   NaN    39910
1793       NaN  South End Ave & Liberty St                   NaN    32655
1794       NaN  South End Ave & Liberty St                   NaN    21924
1795       NaN  South End Ave & Liberty St                   NaN    28336
1796       NaN  South End Ave & Liberty St                   NaN    44134
1797       NaN  South End Ave & Liberty St                   NaN    41351
1798       NaN  South End Ave & Liberty St                   NaN     8917
1799       NaN  South End Ave & Liberty St                   NaN    13826
1800       NaN  South End Ave & Liberty St                   NaN    27401

      start_station_longitude  tripduration               starttime  \
1791               -74.015756           162  2015-02-07 18:55:00+00
1792               -74.015756           151  2015-02-07 08:20:00+00
1793               -74.015756           150  2015-02-06 09:02:00+00
1794               -74.015756           134  2015-02-05 05:58:00+00
1795               -74.015756           132  2015-02-05 17:37:00+00
1796               -74.015756           118  2015-02-07 17:25:00+00
1797               -74.015756           108  2015-02-07 12:07:00+00
1798               -74.015756            99  2015-02-03 09:37:00+00
1799               -74.015756            85  2015-02-04 08:16:00+00
1800               -74.015756            79  2015-02-05 16:29:00+00

                    stoptime  start_station_id  cartodb_id  \
1791  2015-02-07 18:57:00+00              3002       44843
1792  2015-02-07 08:23:00+00              3002       39892
1793  2015-02-06 09:05:00+00              3002       32618
1794  2015-02-05 06:00:00+00              3002       21869
1795  2015-02-05 17:39:00+00              3002       28292
1796  2015-02-07 17:27:00+00              3002       44128
1797  2015-02-07 12:09:00+00              3002       41340
1798  2015-02-03 09:39:00+00              3002        8857
1799  2015-02-04 08:18:00+00              3002       13778
1800  2015-02-05 16:30:00+00              3002       27360

      start_station_latitude  end_station_id            end_station_name  \
1791               40.711512             363              West Thames St
1792               40.711512             327    Vesey Pl & River Terrace
1793               40.711512             327    Vesey Pl & River Terrace
1794               40.711512             363              West Thames St
1795               40.711512             363              West Thames St
1796               40.711512             363              West Thames St
1797               40.711512             363              West Thames St
1798               40.711512            3002  South End Ave & Liberty St
1799               40.711512            3002  South End Ave & Liberty St
1800               40.711512            3002  South End Ave & Liberty St

      end_station_latitude  end_station_longitude  bikeid    usertype  \
1791             40.708347             -74.017134   17658  Subscriber
1792             40.715338             -74.016584   15008  Subscriber
1793             40.715338             -74.016584   20131  Subscriber
1794             40.708347             -74.017134   20547  Subscriber
1795             40.708347             -74.017134   20663  Subscriber
1796             40.708347             -74.017134   17272  Subscriber
1797             40.708347             -74.017134   18470  Subscriber
1798             40.711512             -74.015756   18107  Subscriber
1799             40.711512             -74.015756   16585  Subscriber
1800             40.711512             -74.015756   17061  Subscriber

      birth_year  gender
1791      1981.0       2
1792      1961.0       1
1793      1978.0       2
1794      1974.0       1
1795      1968.0       2
1796      1982.0       1
1797      1979.0       1
1798      1981.0       1
1799      1967.0       1
1800      1954.0       1

In [330]:
query1 = '''SELECT DISTINCT start_station_id FROM fb55.citibike '''
start_stations = get_data(query1)
print(start_stations)

     start_station_id  Unnamed: 1
0                 120         NaN
1                 285         NaN
2                 251         NaN
3                 195         NaN
4                 453         NaN
5                 144         NaN
6                 266         NaN
7                 263         NaN
8                 216         NaN
9                 328         NaN
10                353         NaN
11                212         NaN
12                383         NaN
13                538         NaN
14                217         NaN
15                300         NaN
16                456         NaN
17                128         NaN
18                223         NaN
19                244         NaN
20                494         NaN
21                403         NaN
22                260         NaN
23                445         NaN
24                411         NaN
25                377         NaN
26                427         NaN
27                232         NaN
28                331         NaN
29                416         NaN
..                ...         ...
297               127         NaN
298               397         NaN
299               310         NaN
300               454         NaN
301               531         NaN
302               268         NaN
303               329         NaN
304               518         NaN
305               514         NaN
306               437         NaN
307               270         NaN
308               356         NaN
309               399         NaN
310               119         NaN
311               384         NaN
312               151         NaN
313               362         NaN
314               262         NaN
315               313         NaN
316              2008         NaN
317               276         NaN
318               470         NaN
319               455         NaN
320               496         NaN
321               312         NaN
322               318         NaN
323               497         NaN
324               305         NaN
325               264         NaN
326               483         NaN

[327 rows x 2 columns]

In [331]:
query2 = '''SELECT COUNT(DISTINCT cartodb_id) FROM fb55.citibike '''
trips = get_data(query2)
print(trips)

   count  Unnamed: 1
0  46200         NaN

In [332]:
query3 = '''SELECT 
Min(tripduration) as Min, Max(tripduration) as Max, avg(tripduration) as Avg FROM fb55.citibike 
'''
table = get_data(query3)
table

   min    max         avg
0   60  43016  675.865823

# TASK 2

In [333]:
query4 = '''SELECT * FROM fb55.citibike WHERE EXTRACT(YEAR FROM starttime)=2015 AND EXTRACT(MONTH FROM starttime)=2 AND EXTRACT(DAY FROM starttime)=2'''
table = get_data(query4)
table.head(5)

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,5 Ave & E 29 St,NaN,7433,-73.986831,376,2015-02-02 17:44:00+00,2015-02-02 17:50:00+00,474,7367,40.745168,537,Lexington Ave & E 24 St,40.740259,-73.984092,18048,Subscriber,1977.0,1
1,NaN,Allen St & Hester St,NaN,7779,-73.991908,1217,2015-02-02 20:12:00+00,2015-02-02 20:32:00+00,361,7712,40.716059,461,E 20 St & 2 Ave,40.735877,-73.982050,19732,Customer,NaN,0
2,NaN,E 5 St & Avenue C,NaN,11,-73.979955,1312,2015-02-02 11:07:00+00,2015-02-02 11:29:00+00,393,6920,40.722992,476,E 31 St & 3 Ave,40.743943,-73.979661,17720,Subscriber,1955.0,1
3,NaN,9 Ave & W 16 St,NaN,627,-74.004432,444,2015-02-02 00:40:00+00,2015-02-02 00:48:00+00,463,6477,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20233,Subscriber,1971.0,1
4,NaN,9 Ave & W 16 St,NaN,991,-74.004432,438,2015-02-02 00:40:00+00,2015-02-02 00:47:00+00,463,6478,40.742065,489,10 Ave & W 28 St,40.750664,-74.001768,20264,Subscriber,1981.0,2

In [334]:
queryXX = '''SELECT Avg(tripduration) as AVG, date_part('dow',starttime) FROM fb55.citibike WHERE date_part('dow',starttime)=0 OR date_part('dow',starttime)=6 GROUP BY date_part('dow',starttime)'''
table = get_data(queryXX)
table

          avg  date_part
0  686.460825          6
1  637.116968          5

In [335]:
queryXX = '''SELECT Avg(tripduration) as AVG, date_part('dow',starttime) FROM fb55.citibike WHERE date_part('dow',starttime)<>0 AND date_part('dow',starttime)<>6 GROUP BY date_part('dow',starttime)'''
table = get_data(queryXX)
table

          avg  date_part
0  638.149200          0
1  697.556559          3
2  623.396720          4
3  920.862234          1
4  767.224443          2

# TASK 3

In [336]:
query6 =  '''SELECT start_station_longitude, start_station_latitude FROM fb55.citibike GROUP BY start_station_latitude, start_station_longitude'''
table = get_data(query6)
table

     start_station_longitude  start_station_latitude
0                 -73.988021               40.717227
1                 -73.999733               40.719105
2                 -74.004519               40.746920
3                 -73.983799               40.726218
4                 -73.978311               40.748238
5                 -73.987895               40.764618
6                 -73.977706               40.751873
7                 -73.995481               40.700379
8                 -73.965964               40.683178
9                 -74.002150               40.730386
10                -73.988597               40.759291
11                -74.001768               40.750664
12                -73.982681               40.763441
13                -73.980858               40.720874
14                -74.004831               40.735354
15                -74.000264               40.732241
16                -73.989978               40.720196
17                -73.994224               40.715816
18                -73.969223               40.684157
19                -73.993915               40.746647
20                -73.979677               40.686832
21                -73.958811               40.684568
22                -73.984764               40.697666
23                -74.007718               40.721854
24                -73.977387               40.738177
25                -74.005226               40.751396
26                -73.988038               40.770513
27                -73.981013               40.689888
28                -73.962236               40.693631
29                -73.989129               40.689269
..                       ...                     ...
297               -73.959282               40.686768
298               -73.990931               40.750200
299               -74.002472               40.719392
300               -73.993929               40.767272
301               -73.976323               40.683826
302               -74.000271               40.735238
303               -73.992390               40.737262
304               -73.996123               40.690893
305               -74.009001               40.718710
306               -73.977932               40.720828
307               -73.964763               40.688515
308               -73.953820               40.693317
309               -74.013012               40.714979
310               -73.974315               40.685396
311               -73.980420               40.760660
312               -74.002971               40.727103
313               -73.983362               40.762288
314               -73.993790               40.727434
315               -73.964090               40.708531
316               -74.008387               40.703799
317               -74.002345               40.714948
318               -73.991908               40.716059
319               -73.977225               40.763406
320               -73.986022               40.740964
321               -74.004432               40.742065
322               -73.999154               40.744751
323               -74.001971               40.745497
324               -74.011220               40.715422
325               -73.977987               40.753202
326               -73.976682               40.686919

[327 rows x 2 columns]

In [337]:
query7 =  '''SELECT COUNT(cartodb_id) as TRIPS, start_station_latitude, start_station_longitude FROM fb55.citibike GROUP BY start_station_latitude, start_station_longitude'''
table = get_data(query7)
table

     trips  start_station_latitude  start_station_longitude
0       83               40.717227               -73.988021
1      124               40.719105               -73.999733
2      202               40.746920               -74.004519
3      246               40.726218               -73.983799
4      138               40.748238               -73.978311
5      107               40.764618               -73.987895
6      323               40.751873               -73.977706
7       12               40.700379               -73.995481
8       55               40.683178               -73.965964
9      238               40.730386               -74.002150
10     141               40.759291               -73.988597
11     203               40.750664               -74.001768
12     136               40.763441               -73.982681
13     111               40.720874               -73.980858
14     136               40.735354               -74.004831
15     113               40.732241               -74.000264
16     206               40.720196               -73.989978
17     110               40.715816               -73.994224
18      27               40.684157               -73.969223
19     320               40.746647               -73.993915
20      19               40.686832               -73.979677
21      14               40.684568               -73.958811
22      24               40.697666               -73.984764
23      39               40.721854               -74.007718
24     209               40.738177               -73.977387
25     172               40.751396               -74.005226
26     100               40.770513               -73.988038
27      96               40.689888               -73.981013
28      30               40.693631               -73.962236
29      62               40.689269               -73.989129
..     ...                     ...                      ...
297     17               40.686768               -73.959282
298    309               40.750200               -73.990931
299    123               40.719392               -74.002472
300    114               40.767272               -73.993929
301     36               40.683826               -73.976323
302    142               40.735238               -74.000271
303    250               40.737262               -73.992390
304     45               40.690893               -73.996123
305     58               40.718710               -74.009001
306    120               40.720828               -73.977932
307     32               40.688515               -73.964763
308     27               40.693317               -73.953820
309     76               40.714979               -74.013012
310     29               40.685396               -73.974315
311    192               40.760660               -73.980420
312    247               40.727103               -74.002971
313    200               40.762288               -73.983362
314    230               40.727434               -73.993790
315     13               40.708531               -73.964090
316     60               40.703799               -74.008387
317     82               40.714948               -74.002345
318    156               40.716059               -73.991908
319    164               40.763406               -73.977225
320    288               40.740964               -73.986022
321    178               40.742065               -74.004432
322    218               40.744751               -73.999154
323    281               40.745497               -74.001971
324    200               40.715422               -74.011220
325    486               40.753202               -73.977987
326     54               40.686919               -73.976682

[327 rows x 3 columns]

In [338]:
# I assume that 500 metres is equal to approximately 0.00452 in latitude; TS (lat, lon):40.7577,-73.9857; Ranges: 40,76222 - 40,75318; -73,98118- -73,99022

query8 =  '''SELECT start_station_longitude, start_station_latitude FROM fb55.citibike WHERE start_station_latitude<=40.76222 AND start_station_latitude>=40.75318 AND start_station_longitude<=-73.98118 AND start_station_longitude>=-73.99022 GROUP BY start_station_latitude, start_station_longitude'''
table = get_data(query8)
table

   start_station_longitude  start_station_latitude
0               -73.986580               40.755136
1               -73.988597               40.759291
2               -73.984427               40.760647
3               -73.982912               40.756800
4               -73.990026               40.756405
5               -73.983169               40.755273

In [339]:
queryX = '''SELECT Q.start_station_id FROM
(SELECT max(tripduration) as Max, start_station_id FROM fb55.citibike
WHERE (date_part('dow',starttime)=0 OR date_part('dow',starttime)=6) AND start_station_latitude<=40.76222 AND start_station_latitude>=40.75318 AND start_station_longitude<=-73.98118 AND start_station_longitude>=-73.99022
GROUP BY start_station_id
ORDER BY Max ASC) as Q
LIMIT 1
'''
table=get_data(queryX)
table

   start_station_id  Unnamed: 1
0               465         NaN